.display {
  background-size: cover;
  background-position: center;
  width: 280px;
  height: 210px;
  margin-top: 25px;
  border: 1px solid black;
  padding: 3px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  border-radius: 5px;
}

.blank-div {
  width: 270px;
  height: 200px;
  background-color: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.empty-text {
  margin: 5px;
  text-align: center;
}
